/**
* 共通系CSS(margin&padding)
*/
//---------------------------------------------------------
@charset "utf-8";

.m2 {
  margin: 2px;
}

.m4 {
  margin: 4px;
}

.m6 {
  margin: 6px;
}

.m8 {
  margin: 8px;
}

.m8 {
  margin: 8px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

//---------------------------------------------------------

.p2 {
  padding: 2px;
}

.p4 {
  padding: 4px;
}

.p20 {
  padding: 20px;
}


//---------------------------------------------------------

.pb48 {
  padding-bottom: 48px;
}

//---------------------------------------------------------

.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

//---------------------------------------------------------

.mt2 {
  margin-top: 2px;
}

.mt4 {
  margin-top: 4px;
}

.mt10 {
  margin-top: 10px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mt27 {
  margin-top: 27px;
}

.mt37 {
  margin-top: 37px;
}

.mt40 {
  margin-top: 40px;
}

//---------------------------------------------------------

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

//---------------------------------------------------------
.mr2{
  margin-right: 2px;
}

.mr4{
  margin-right: 4px;
}

.mr5{
  margin-right: 5px;
}
